body{
    background: url("../images/background.jpg") 25% 75%;
    /* background-size: 760px 900px; */
    position: relative;
    overflow: hidden;
} 
body:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url("../images/background.jpg") 25% 75%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    }
#search-button .hide {
    display: none;
}

.mainsection{
    min-height: 600px;
}
.searchform{
    padding:20px;
}
.searchlabel{
    color:black;
}
.title{
    text-align: center;
    color:black;
    height:150px;
    width:150px;
    position:relative;
}
.titlecont{
    position: relative;
}
.foot{
    position:fixed!important;
    bottom:0px;
    width:100%;
}

