
body{
    background: url("../images/background.jpg") 25% 0% no-repeat;
    position: relative;
    overflow: auto; 
} 
.title{
    text-align: center;
    color:white;
    width:200px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}
.navbar{
    /* position:fixed; */
    /* top:0px; */
    width:100%;
    background-color: black;
    padding:0px;
    text-align:center;
    margin-bottom:25px;
}
tbody {
    font-size: 18px;
}

table td
{
    text-align: left;
    vertical-align: middle;
    padding: 5px;
    position: relative;
}

thead {
    font-size: 28px;
    text-align: left;
}

#title, #artist, #album {
    min-width: 22vw;
}

.artistImg, .recImg {
    border: 1px solid black;
    width: 200px;
    height:175px;
}

table {
    padding-left: 15px;
    padding-right: 15px;
}

#search-button .hide {
    display: none;
}
.mainsection{
    min-height: 600px;
}
.find{
    text-align:center;
    display: none; 
}
#searchTerm{
    box-shadow: 4px 4px 4px 0px grey;
    background-color: rgba(255, 255, 255, 0.404);
}
#search-button .hide {
    display: none;
}
#search-button, #login-button{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: 1px black solid;
    box-shadow: 3px 3px 3px 0px grey;
}
#search-button:hover, #login-button:hover{
    background-color: black;
    color: white;
    box-shadow: 5px 5px 5px 0px grey;
}
.searchform{
    padding:20px;
}
.searchlabel{
    color:black;
}
#searchTab{
    width:85%;
    margin: 10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:70px;
    max-height: 400px;
    overflow:auto;
}
#recommended-artists{
    width:85%;
    margin: 10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:70px;
    max-height: 400px;
    overflow:auto;
}
.foot{
    position:fixed!important;
    bottom:0px;
    width:100%;
}

